<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.Android.Mapper.LocMapper">
    <insert id="insertLoc" parameterType="org.example.Android.pojo.Myloc">
        insert into loc (UID, time, longitude, latitude) values (#{UID}, #{time}, #{longitude}, #{latitude})
    </insert>
    <select id="getLatestLocByUID" parameterType="java.lang.String" resultType="org.example.Android.pojo.Myloc">
        select * from loc where UID = #{UID} Order by time DESC limit 20
    </select>
</mapper>