<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.Android.Mapper.UserMapper">
    <select id="getAllUsers" resultType="org.example.Android.pojo.User">
        select * from user
    </select>
    <select id="getUserByObject" resultType="org.example.Android.pojo.User" parameterType="org.example.Android.pojo.User">
        select * from user where UID = #{UID} and pwd = #{pwd}
    </select>
    <select id="updateUserByObject" parameterType="org.example.Android.pojo.User">
        update user set pwd = #{pwd} ,address = #{address} , phone = #{phone} where UID = #{UID}
    </select>
</mapper>